body {
  background: #eee;
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0 0 1em;
}

div:after {
  display: table;
  content: " ";
  clear: both;
}

.demo_container {
  background: #ccc;
  display: block;
  width: 100%;
  z-index: 3;
}
.demo_container3 {
  background: #0f0;
  display: block;
  width: 100%;
  z-index: 2;
}

.demo_container:before,
.demo_container:after {
  display: table;
  content: " ";
}

.demo_container:after {
  clear: both;
}

.demo_container3:before,
.demo_container3:after {
  display: table;
  content: " ";
}

.demo_container3:after {
  clear: both;
}

.tester_on {
  padding: 30px;
  background: #333;
  color: #fff;
  border: 5px solid black;
  box-sizing: border-box;
}